################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MavellsUnderground/.vs/MavellsUnderground
/MavellsUnderground/x64/Debug
/MavellsUnderground/.vs
